.container{
    background-color: LightGray;
    display: grid;
    width: 700px;
    height: 700px;
    border: solid 1px red;
    grid-gap: 0;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    /*grid-template-columns: 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px;*/
}

.cell{
    margin: 0;
    border-style:none; 
    border-width: 0px;
    font-size: auto;

}
/*
.container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cell{
    border: solid 1px red;
    width: 40px;
    padding-bottom: 40px;
    margin-bottom: 1px;
    position: relative;
}*/